<a href="https://colab.research.google.com/github/RaissaPasha/2025-Algoritma-dan-Pemrograman/blob/main/Jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah**

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang : ", koordinat[0])
print("Bujur : ", koordinat[1])

Lintang :  7.05
Bujur :  110.44

**Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa**

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

**Praktikum 03 – Operasi pada Dictionary**

In [ ]:
hasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20  # menambah data
mahasiswa["Prodi"] = "Teknik Komputer"  # memperbarui data
del mahasiswa["Umur"] # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

**Praktikum 04 – Set dan Operasi Himpunan**

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union : ", A | B)
print("Intersection : ", A & B)
print("Difference : ", A - B)

Union :  {1, 2, 3, 4, 5, 6}
Intersection :  {3, 4}
Difference :  {1, 2}

**Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah**

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata Kuliah Mahasiswa 1 : ", mhs1)
print("Mata Kuliah Mahasiswa 2 : ", mhs2)
print("Mata Kuliah yang Sama : ", mhs1 & mhs2)

Mata Kuliah Mahasiswa 1 :  {'Bahasa Inggris', 'Matematika', 'Algoritma'}
Mata Kuliah Mahasiswa 2 :  {'Basis Data', 'Matematika', 'Algoritma'}
Mata Kuliah yang Sama :  {'Matematika', 'Algoritma'}

**Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa**

In [ ]:
nilai_mahasiswa = {
    "Andi" : 80,
    "Budi" : 75,
    "Cici" : 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai : {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai : 81.67

**Penugasan**

**Tuple Sederhana**

In [ ]:
mahasiswa = ("Andi", 20, "Teknik Komputer")

print("Nama : ", mahasiswa[0])
print("Umur : ", mahasiswa[1])
print("Prodi : ", mahasiswa[2])

Nama :  Andi
Umur :  20
Prodi :  Teknik Komputer

**Tuple Tidak Bisa Diubah**

In [ ]:
data = (1, 2, 3)

try:
  data[0] = 10
except TypeError as e:
  print("Error", e)
  print("Penjelasan: Tuple bersifat immutable, sehingga elemennya tak bisa diubah")

Error 'tuple' object does not support item assignment
Penjelasan: Tuple bersifat immutable, sehingga elemennya tak bisa diubah

**Dictionary Dasar**

In [ ]:
buku = {
    "Judul" : "Algoritma",
    "Penulis" : "Munir",
    "Tahun" : 2021
}

print("Judul Buku: ", buku["Judul"])
print("Penulis: ", buku["Penulis"])
print("Tahun Terbit: ", buku["Tahun"])

Judul Buku:  Algoritma
Penulis:  Munir
Tahun Terbit:  2021

**Operasi Dictionary**

In [ ]:
dosen = {
    "NIP": "1234",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '1234', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

**Set dan Himpunan**

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union :", A | B)
print("Intersection :", A & B)
print("DIfference :", A - B, B - A)

Union : {'Basis Data', 'Bahasa Inggris', 'Matematika', 'Algoritma'}
Intersection : {'Matematika', 'Algoritma'}
DIfference : {'Bahasa Inggris'} {'Basis Data'}

**Studi Kasus Dictionary**

In [ ]:
# Dictionary nilai mahasiswa
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

# Menampilkan nama dan nilai
for nama, nilai in nilai_mahasiswa.items():
    print(nama, ":", nilai)

# Menghitung rata-rata nilai
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai : {rata:.2f}")

Andi : 85
Budi : 90
Cici : 78
Rata-rata nilai : 84.33

**Studi Kasus Set – Klub Mahasiswa**

In [ ]:
# Dua klub mahasiswa
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

# Menampilkan hasil operasi himpunan
print("Seluruh anggota :", klub_A | klub_B)
print("Anggota di kedua klub :", klub_A & klub_B)
print("Anggota hanya di Klub A :", klub_A - klub_B)

Seluruh anggota : {'Eka', 'Cici', 'Deni', 'Budi', 'Andi'}
Anggota di kedua klub : {'Cici'}
Anggota hanya di Klub A : {'Budi', 'Andi'}