<a href="https://colab.research.google.com/github/RaissaPasha/2025-Algoritma-dan-Pemrograman/blob/main/Jobsheet4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 Perulangan For dengan Range**

In [ ]:
# Menampilkan angka dari 1 sampai 5

for i in range(1,6):
  print(i)

1
2
3
4
5

**Praktikum 02 Perulangan While**

In [ ]:
# Menghitung Mundur dari angka yang dimasukkan pengguna

n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

**Praktikum 03 Nested Loop**

In [ ]:
# Membuat pola segitiga bintang

for i in range(1,6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

**Praktikum 04 Break dan Continue**

In [ ]:
# Menghentikan perulangan ketika menemukan angka 5

for i in range(1, 11):
  if i == 5:
    print("Angka 5 Ditemukan")
    break

Angka 5 Ditemukan

In [ ]:
# Melewati bilangan ganjil dan hanya menampilkan bilangan genap dari 1-5

for i in range(1,6):
  if i % 2 == 1:
    continue
  print(i)

2
4

**Praktikum 05 For pada Dictionary**

In [ ]:
# Menampilkan isi dictionary mahasiswa

data = {"Nama": "Andi", "Umur" : 20, "Prodi" : "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

**Praktikum 06 For dengan Enumerate**

In [10]:
# Menampilkan daftar nama dengan nomor urut

daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

**Praktikum 07 Studi Kasus: Program Kasir Multi-Item**

In [ ]:
# Menghitung total belanja beberapa item

total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break

  harga = float(input(F"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))

  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : RP {total:,.0f}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : RP 115,000

**Penugasan**

**Menampilkan Deret Angka**

In [ ]:
for i in range(3, 31):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30

**Hitung Faktorial**

In [ ]:
n = int(input("Masukkan angka : "))
hasil = 1
i = 1
while i <= n:
  hasil *= i
  i += 1
print ("Faktorial : ", hasil)

Masukkan angka : 5
Faktorial :  120

**Pola Segitiga Terbalik**

In [ ]:
tinggi = 5
for i in range(tinggi, 0, -1):
  print("*" * i)

*****
****
***
**
*

**Cari Bilangan Prima dengan Break**

In [ ]:
angka = int(input("Masukkan sebuah bilangan : "))
if angka > 1:
  for i in range(2, angka):
    if angka % i == 0:
      print(angka, "bukan bilangan prima")
      break
  else:
    print(angka, "adalah bilangan prima")
else:
  print(angka, "bukan bilangan prima")

Masukkan sebuah bilangan : 3
3 adalah bilangan prima

**Tampilkan Hanya Bilangan Genap dengan Continue**

In [ ]:
for i in range(1,21):
  if i % 2 != 0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

**Iterasi Dictionary Mahasiswa**

In [ ]:
mahasiswa = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}
for k, v in mahasiswa.items():
  print(f"{k} : {v}")

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

**Enumerate Daftar Barang**

In [ ]:
barang = ["Buku", "Pulpen", "tas"]
for idx, item in enumerate(barang, start=1):
  print(f"{idx} {item}")

1 Buku
2 Pulpen
3 tas

**Studi Kasus â€“ Kasir Diskon**

In [ ]:
total = 0
while True:
  barang = input("Masukkan nama barang (atau ketik 'selesai'): ")
  if barang.lower() == "selesai":
    break
  harga = int(input("Masukkan harga barang : "))
  total += harga

if total >= 200000:
  diskon = total * 0.10
else:
  diskon = 0

total_bayar = total - diskon
print(f"Total : RP {total}")
print(f"Diskon : RP {diskon}")
print(f"Total Bayar : RP {total_bayar}")

Masukkan nama barang (atau ketik 'selesai'): Coolingpad
Masukkan harga barang : 295000
Masukkan nama barang (atau ketik 'selesai'): Thermal Paste
Masukkan harga barang : 230000
Masukkan nama barang (atau ketik 'selesai'): selesai
Total : RP 525000
Diskon : RP 52500.0
Total Bayar : RP 472500.0