<a href="https://colab.research.google.com/github/RaissaPasha/2025-Algoritma-dan-Pemrograman/blob/main/Jobsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 1 Pengenalan Variabel dan Tipe Data**

In [ ]:
# Integer
umur = 19
print("Umur : ", umur, "→", type(umur))

Umur :  19 → <class 'int'>

In [ ]:
# Float
tinggi = 174.5
print("Tinggi : ", tinggi, "→", type(tinggi))

Tinggi :  174.5 → <class 'float'>

In [ ]:
# String
nama = "Pasha"
print("Nama : ", nama, "→", type(nama))

Nama :  Pasha → <class 'str'>

In [ ]:
# Boolean
is_mahasiswa = True
print("Status Mahasiswa : ", is_mahasiswa, "→", type(is_mahasiswa))

Status Mahasiswa :  True → <class 'bool'>

In [ ]:
# List
nilai = [80, 85, 90, 95]
print("Nilai : ", nilai, "→", type(nilai))

Nilai :  [80, 85, 90, 95] → <class 'list'>

In [ ]:
# Tuple
koordinat = (18, 78)
print("Koordinat : ", koordinat, "→", type(koordinat))

Koordinat :  (18, 78) → <class 'tuple'>

In [ ]:
# Dictionary
mahasiswa = {"Nama" : "Pasha", "Umur" : 18, "Prodi" : "TRK"}
print("Data Mahasiswa : ", mahasiswa, "→", type(mahasiswa))

Data Mahasiswa :  {'Nama': 'Pasha', 'Umur': 18, 'Prodi': 'TRK'} → <class 'dict'>

In [ ]:
# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Hobi: {'musik', 'membaca', 'olahraga'} → <class 'set'>

**Praktium 2 Input dan Output Dasar**

In [ ]:
# Input string
nama = input("Masukkan nama Anda : ")

Masukkan nama Anda : Pasha

In [ ]:
# Input Integer
umur = int(input("Masukkan umur Anda : "))

Masukkan umur Anda : 19

In [ ]:
# Input Float
tinggi = float(input("Masukkan tinggi badan Anda (cm): "))

Masukkan tinggi badan Anda (cm): 174

In [ ]:
# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

Halo, Pasha umur Anda: 19 tahun, tinggi: 174.0 cm

In [ ]:
# Output dengan format
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

Halo Pasha, umur Anda 19 tahum, tinggi 174.0 cm

In [ ]:
# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Halo Pasha, umur Anda 19 tahun, tinggi 174.0 cm

**Praktikum 3 Operator Aritmatika**

In [ ]:
a = 15
b = 4

print("a + b = ", a + b)
print("a - b = ", a - b)
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a // b = ", a // b)
print("a % b = ", a % b)
print("a ** b = ", a ** b)

a + b =  19
a - b =  11
a * b =  60
a / b =  3.75
a // b =  3
a % b =  3
a ** b =  50625

**Praktikum 4 Operator Relasional**

In [ ]:
x = 10
y = 20

print("x == y : ", x == y)
print("x != y : ", x != y)
print("x < y : ", x < y)
print("x > y : ", x > y)
print("x <= y : ", x <= y)
print("x >= y : ", x >= y)

x == y :  False
x != y :  True
x < y :  True
x > y :  False
x <= y :  True
x >= y :  False

**Praktikum 5 Operator Logika dengan Studi Kasus Nyata**

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b = ", a and b)
print("a or b = ", a or b)
print("a not b = ", not a)

# Studi kasus nyata: Kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12

if lulus_nilai and lulus_hadir:
  print("Status : Anda LULUS!")
else:
  print("Status : Anda TIDAK LULUS!")

a and b =  False
a or b =  True
a not b =  False
Masukkan nilai ujian: 94
Masukkan jumlah kehadiran: 24
Status : Anda LULUS!

**Praktikum 6 Program Kasir Sederhana**

In [ ]:
barang = input("Masukkan nama barang : ")
harga = float(input("Masukkan harga barang : "))
jumlah = int(input("Masukkan jumlah barang : "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

Masukkan nama barang : NYK Nemesis Blackhole X10
Masukkan harga barang : 250000
Masukkan jumlah barang : 2

===== Struk Belanja =====
Barang : NYK Nemesis Blackhole X10
Jumlah : 2
Total : Rp 500000.0
Diskon : 20.0%
bayar : Rp 400000.0

**Penugasan**

**Identitas Mahasiswa**

In [ ]:
# Program Identitas Mahasiswa
nama = input("Masukkan nama Anda : ")
umur = int(input("Masukkan umur Anda : "))
tinggi = float(input("Masukkan tinggi badan Anda (cm) : "))
status_aktif = bool(int(input("Apakah Aktif? (1 = Ya, 0 = Tidak) : ")))

print(f"\n--- Data Mahasiswa ---")
print(f"Nama         : {nama}")
print(f"Umur         : {umur} tahun")
print(f"Tinggi Badan : {tinggi} cm")
print(f"Status Aktif : {status_aktif}")

Masukkan nama Anda : Choirul Raissa Pasha
Masukkan umur Anda : 19
Masukkan tinggi badan Anda (cm) : 174
Apakah Aktif? (1 = Ya, 0 = Tidak) : 1

--- Data Mahasiswa ---
Nama         : Choirul Raissa Pasha
Umur         : 19 tahun
Tinggi Badan : 174.0 cm
Status Aktif : True

**Operasi Aritmatika**

In [ ]:
# Program Operasi Aritmatika
a = int(input("Masukkan bilangan pertama : "))
b = int(input("Masukkan bilangan kedua : "))

print("\n--- Hasil Operasi Aritmatika ---")
print(f"Penjumlahan       : {a + b}")
print(f"Pengurangan       : {a - b}")
print(f"Perkalian         : {a * b}")
print(f"Pembagian         : {a / b}")
print(f"Sisa bagi (mod)   : {a % b}")
print(f"Pangkat           : {a ** b}")

Masukkan bilangan pertama : 3
Masukkan bilangan kedua : 4

--- Hasil Operasi Aritmatika ---
Penjumlahan       : 7
Pengurangan       : -1
Perkalian         : 12
Pembagian         : 0.75
Sisa bagi (mod)   : 3
Pangkat           : 81

**Konversi Nilai**

In [ ]:
# Konversi Nilai
angka = float(input("Masukkan Angka Desimal : "))

print("\n--- Hasil Konversi ---:")
print(f"Dalam bentuk integer  : {int(angka)}")
print(f"Dalam bentuk sting    : {str(angka)}")
print(f"Dibulatkan (2 digit)  : {round(angka)}")

Masukkan Angka Desimal : 3.75

--- Hasil Konversi ---:
Dalam bentuk integer  : 3
Dalam bentuk sting    : 3.75
Dibulatkan (2 digit)  : 4

**Operator Relasional**

In [1]:
# Membaca dua input bilangan
a = float(input("Masukkan bilangan pertama: "))
b = float(input("Masukkan bilangan kedua: "))

# Menampilkan hasil perbandingan
print(f"{a} == {b} :", a == b)
print(f"{a} != {b} :", a != b)
print(f"{a} <  {b} :", a < b)
print(f"{a} >  {b} :", a > b)
print(f"{a} <= {b} :", a <= b)
print(f"{a} >= {b} :", a >= b)

Masukkan bilangan pertama: 4
Masukkan bilangan kedua: 5
4.0 == 5.0 : False
4.0 != 5.0 : True
4.0 <  5.0 : True
4.0 >  5.0 : False
4.0 <= 5.0 : True
4.0 >= 5.0 : False