<a href="https://colab.research.google.com/github/RaissaPasha/2025-Algoritma-dan-Pemrograman/blob/main/Jobsheet6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 – Membuat dan Mengakses List 1D**

In [ ]:
mahasiswa = ["Andi","Budi","Cici"]
print(mahasiswa[0])      # Andi
print(mahasiswa[1])      # Budi
print(mahasiswa[-1])      # Cici

Andi
Budi
Cici

**Praktikum 02 – Update dan Operasi Dasar List**

In [ ]:
nilai = [85, 90, 78]
nilai [1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

**Praktikum 03 – Slicing List**

In [ ]:
niali = [85, 90, 78, 92, 88]
print(nilai[0:3]) # [85, 90, 78]
print(nilai[2:]) # [78, 92, 88]
print(nilai[:3]) # [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

**Praktikum 04 – List 2D (Matriks)**

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])  #1
print(matriks[1][2])  #6
print(matriks[2])  #[7, 8, 9]

1
6
[7, 8, 9]

**Praktikum 05 – Operasi pada List 2D**

In [ ]:
A = [[1,2,3], [4,5,6]]
B = [[7,8,9], [10,11,12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

**Praktikum 06 – Studi Kasus: Pengelolaan Nilai Mahasiswa:**

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i} : {rata:.2f}")

Rata-rata mahasiswa 1 : 85.00
Rata-rata mahasiswa 2 : 75.00
Rata-rata mahasiswa 3 : 88.00

**Penugasan**

**Akses Elemen List**

In [ ]:
mahasiswa =  ["Andi", "Budi", "Cici", "Dewi", "Eka"]
print(mahasiswa[0]) # Nama pertama
print(mahasiswa[-1]) # Nama terakhir
print(mahasiswa[2]) # Nama indeks ke-2

Andi
Eka
Cici

**Operasi Dasar List**

In [ ]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

**Slicing List** (Skipped)

In [ ]:
angka = list(range(1, 11))
print(angka[:3])  # 3 elemen pertama
print(angka[-4:])  # 4 elemen terakhir
print(angka[::2])  # elemen indeks genap

[1, 2, 3]
[7, 8, 9, 10]
[1, 3, 5, 7, 9]

**List 2D Matriks**

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]
print(matriks[0][1])  # Baris 1 kolom 2
print(matriks[1][2])  # Baris 2 kolom 3
print(matriks[0])  # Seluruh baris 1

2
6
[1, 2, 3]

**Operasi Matriks 2D**

In [ ]:
A = [
    [1, 2],
    [3, 4]
]
B = [
    [5, 6],
    [7, 8]
]
C = []
for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)

print(C)

[[6, 8], [10, 12]]

**Rata-rata Nilai Mahasiswa**

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i} = {rata:.2f}")

Rata-rata mahasiswa 1 = 80.00
Rata-rata mahasiswa 2 = 65.00
Rata-rata mahasiswa 3 = 92.33

**Studi Kasus Data Toko**

In [ ]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

for barang in stok:
  print(f"{barang[0]}: {barang[1]}")

# Cari barang dengan stok terbanyak
stok_terbanyak = max(stok, key=lambda x: x[1])
print(f"Barang dengan stok terbanyak : {stok_terbanyak[0]} ({stok_terbanyak[1]})")

Buku: 20
Pulpen: 35
Penghapus: 15
Barang dengan stok terbanyak : Pulpen (35)